.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
}
.chat_header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    background-color: #77ACF1;
}
.chat_headerInfo{
    /* flex=1 means, push yourself as far as possible, means give youself space, as much as possible 
    Also, it has been written in headerInfo, because from that, move all the floowing contents as far as psoobile*/
    flex: 1;
    padding-left: 30px;
}
.chat_headerInfo > h3{
    margin-bottom: 3px;
    font-weight: 500;
}
.chat_headerInfo > p{
    color: grey;
}
.chat_body{
    flex: 1;
    background-image: url("https://thumbs.dreamstime.com/b/green-texture-background-different-shades-dark-green-to-light-green-design-surface-coating-unusual-green-texture-199020925.jpg");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: auto;

}
.chat_message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 100px;
    background-color: hotpink;
    margin-bottom: 30px;
}
.chat_timestamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat_name{
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}
.chat_receiver{
    margin-left: auto;
    background-color: khaki;
}
.chat_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}
.chat_footer > form{
    flex: 1;
    display: flex;
}
.chat_footer > form > input{
    flex: 1;
    outline-width: 0;
    border-radius: 30px;
    padding: 10px;
    border: none;
}
.chat_footer > form > button{
    display: none;
}
.chat_footer > .MuiSvgIcon-root{
    padding: 10px;
    color: gray;
}